@model PotrosniResursiViewModel
@{
    ViewData["Title"] = "Potrosni Resursi";
}

<h1>Potrosni resursi</h1>
<a asp-action="CreatePotrosni">Unesi novi potrosni resurs</a>
<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
    <tr>
        <th>Id resurs</th>
        <th>Id udruga</th>
        <th>Id prostor</th>
        <th>Naziv</th>
        <th>Datum nabave</th>
        <th>Rok trajanja</th>
        <th>Napomena</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var resurs in Model.Resursi)
    {
        <tr>
            <td class="text-left">@resurs.IdResurs</td>
            <td class="text-left">@resurs.IdUdruga</td>
            <td class="text-left">@resurs.IdProstor</td>
            <td class="text-left">@resurs.Naziv</td>
            <td class="text-left">@resurs.DatumNabave</td>
            <td class="text-left">@resurs.RokTrajanja</td>
            <td class="text-left">@resurs.Napomena</td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-id="@resurs.IdResurs">
                    <input type="hidden" name="id" value="@resurs.IdResurs" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">@*<i class="fas fa-trash-alt"></i>*@Obriši</button>
                </form>
            </td>
            <td>
                <form asp-action="EditPotrosni" method="get"
                      asp-route-id="@resurs.IdResurs">
                    <input type="hidden" name="id" value="@resurs.IdResurs" />
                    <button type="submit" class="btn btn-sm btn-danger update" title="Uredi">@*<i class="fas fa-trash-alt"></i>*@Uredi</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>