@model EdukacijeViewModel

@{
    ViewBag.Title = "Edukacije u skoli";
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<h1>Edukacije u skoli</h1>
<a asp-action="CreateEdukacija" asp-route-idSkole="@Model.IdSkole" class="btn btn-outline-dark">Unos nove edukacije</a>
<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Poštanski broj mjesta</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var edukacija in Model.edukacije)
        {
            <tr>
                <td class="text-center">@edukacija.Id</td>
                <td class="text-left">@edukacija.NazivEdukacije</td>
                <td class="text-left">@edukacija.MjestoPbr</td>
                <td class="text-left">@edukacija.Opis</td>
                <td class="btn-group-spacing">

                    <a class="btn btn-sm"
                        style="background-color:Crimson ;"
                        hx-confirm="Obrisati cjenik?"
                        hx-delete="@Url.Action(nameof(SkoleController.Index), new { id = edukacija.Id })"
                        title="Obriši">
                        <i class="fas fa-trash-alt whiteicon"></i>
                    </a>
                    <a asp-action="EdukacijaPrijavljeni" asp-route-idEdukacije="@edukacija.Id" class="btn btn-outline-dark">Prijavljeni polaznici</a>
                    <a asp-action="EdukacijaPolaznici" asp-route-idEdukacije="@edukacija.Id" class="btn btn-outline-dark">Polaznici</a>
                    <a asp-action="EdukacijaPredavaci" asp-route-idEdukacije="@edukacija.Id" class="btn btn-outline-dark">Predavaci</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
}
