@model  IzvidaciWebApp.ViewModels.ClanarineViewModel
@{
    ViewData["Title"] = "Clanarine";
}
<h1>Članarine</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Clanarina" asp-action="Create">Stvori novu članarinu</a>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Godina</th>
            <th>Iznos</th>
            <th>Plaćenost</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clanarina in Model.clanarine)
        {
            <tr>
                <td class="text-left">@clanarina.Id</td>
                <td class="text-left">@clanarina.ClanIme</td>
                <td class="text-left">@clanarina.ClanPrezime</td>
                <td class="text-left">@clanarina.Godina</td>
                <td class="text-left">@clanarina.Iznos</td>
                <td class="text-middle"><input type="checkbox" @(clanarina.Placenost ? "checked" : "") disabled />
                @*<td class="text-left">@clanarina.ClanId</td>*@
                <td class="text-left">@clanarina.Datum?.ToString("dd.MM.yyyy.")</td>
                <td>
                    <form asp-action="Edit" method="get"
                      asp-route-id="@clanarina.Id">
                        <input type="hidden" name="id" value="@clanarina.Id" />
                        <button type="submit" class="btn btn-sm" title="Uredi"><i class="fas fa-edit"></i></button>
                    </form>
                </td>
                 <td>
                    <form asp-action="Delete" method="post"
                      asp-route-id="@clanarina.Id">
                            <input type="hidden" name="id" value="@clanarina.Id" />
                            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                 </td>
            </tr>
        }
    </tbody>
</table>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin="anonymous"></script>