@model IzvidaciWebApp.ViewModels.CvrstiObjektiZaObitavanjeViewModel

@{
    ViewData["Title"] = "Čvrsti objekti za obitavanje";
}

<a asp-action="Create">Unos novog objekta</a>
<h1>Čvrsti objekti za obitavanje</h1>

<table class="table table-sm table-striped table-hover" id="tableObjekti">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Ima sanitarni čvor</th>
            <th>Poštanski broj</th>
            <th>Opis</th>
            <th>Broj Predviđenih spavaćih mjesta</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var objekt in Model.objekti)
        {
            <tr>
                <td class="text-center">@objekt.IdTerenskaLokacija</td>
                <td class="text-center">@objekt.NazivTerenskaLokacija</td>
                <td class="text-center">@objekt.ImaSanitarniCvor</td>
                <td class="text-center">@objekt.MjestoPbr</td>
                <td class="text-center">@objekt.Opis</td>
                <td class="text-center">@objekt.BrojPredvidenihSpavacihMjesta</td>

                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@objekt.IdTerenskaLokacija" class="btn btn-sm btn-primary" title="Uredi"><i class="fas fa-edit"></i></a>
                </td>

                <td>
                    <form asp-action="Delete" method="post" asp-route-id="@objekt.IdTerenskaLokacija">
                        <input type="hidden" name="id" value="@objekt.IdTerenskaLokacija" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>