@Model AkcijeViewModel
@{
    ViewData["Title"] = "Akcije";
}
<h1>Akcije</h1>
<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Poštanski broj mjesta</th>
            <th>Organizator</th>
            <th>Kontakt osoba</th>
            <th>Vrsta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var akcija in Model.akcije)
        {
            <tr>
                <td class="text-center">@akcija.IdAkcije</td>
                <td class="text-left">@akcija.Naziv</td>
                <td class="text-left">@akcija.MjestoPbr</td>
                <td class="text-left">@akcija.Organizator</td>
                <td class="text-left">@akcija.KontaktOsoba</td>
                <td class="text-left">@akcija.Vrsta</td>
                <td>
                    <form asp-action="Delete" method="post"
                      asp-route-id="@akcija.IdAkcije">
                        <input type="hidden" name="id" value="@akcija.IdAkcije" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>