@Model RangStarostViewModel
@{
    ViewData["Title"] = "Rangovi starosti";
}
<h1>Rangovi zasluga</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="RangStarost" asp-action="Create">Stvori novi rang po starosti</a>
<table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rang in Model.rangovi)
    {
        <tr>
            <td class="text-center">@rang.id</td>
            <td class="text-left">@rang.naziv</td>
            <td>
                <form asp-action="Delete" method="post"
                      asp-route-id="@rang.id">
                    <input type="hidden" name="id" value="@rang.id" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td> 
            <td>
                <form asp-action="Edit" method="get"
                      asp-route-id="@rang.id">
                    <input type="hidden" name="id" value="@rang.id" />
                    <button type="submit" class="btn btn-sm" title="Uredi"><i class="fas fa-edit"></i></button>
                </form>
                </td> 
        </tr>
    }
    </tbody>
</table>